.wrapper {

    max-width: 620px;

    height: auto;

    width: 70%;

    margin: auto;

    padding: 2;
  

}





.box {

    display: inline-block;

    position: relative;

    width: 200px;

    height: 200px;

    background: gray;

    z-index: 0;

    margin: 2px 2px 2px -2px;

    transition: all .15s ease-in-out;

    background-position: center;


}



.box:hover {

    background: white;

    z-index: 100;

    transform: scale(1.2, 1.2);

    box-shadow: 0 5px 10px 0 rgba(0,0,0,.2);

}





ul {

list-style-type: none;

padding: 0px;

margin: 0px;


}

ul li {

background-repeat: no-repeat;

background-position: 0px 5px; 

padding-left: 0.5em 1em; 

padding-top: 1em;

text-align: center;


}


    a:link {color: rgb(b);}
    a:visited {color: rgb(w);}
    a:hover {color: rgb(g);}
    a:active {color: rgb(w);}




